<!-- Child information section -->
<div class="container col-md-6" style="margin-top: 2.5em; background-color: #f8f9fa; border: 3px solid rgb(247, 243, 243);">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center" style="margin: 1.5em;">{{child.child_name}}</h2>

      <!-- Diet restriction section -->
      <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
          <p><strong>Diet Restriction:</strong></p>
          <p>{{child.diet_restrictions}}</p>
        </div>
      </div>

      <!-- Medication section -->
      <div class="row">
        <div class="col-md-12">
          <p><strong>Medication:</strong></p>
          <p>{{child.medications}}</p>
        </div>
      </div>

      <!-- Other section -->
      <div class="row">
        <div class="col-md-12">
          <p><strong>Other:</strong></p>
          <p>{{child.other}}</p>
        </div>
      </div>

      <!-- Add comment form -->
      <form class="new-comment">
        <div class="form-group">
          <textarea class="form-control" id="post-comment" name="post-comment" rows="3" placeholder="Parent's Notes:"></textarea>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill" style="margin-top: 20px; margin-bottom: 20px;">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Display existing comments section -->
{{#if comments.length}}
<div class="container col-md-6 mx-auto mt-3 child-list" style="background-color: #f8f9fa; border: 3px solid rgb(247, 243, 243);">
  <h3 class="text-center" style="margin: 1.5em;">Parent's Notes:</h3>

  {{#each comments as |comment|}}
  <div class="container" style="margin:1.5em">
    <div class="row">
      <p class="badge" style="width: 100%; background-color: #a0a1a1; font-size: large;">{{comment.post_comment}}</p>
      <p style="">{{comment.date_created}}</p>
    </div>
    <div class="col-md-4">
      <!-- Delete comment button -->
      {{!-- <button class="btn btn-sm btn-danger rounded-pill" style="margin-top: 1em; width: 100%;"
        data-id="{{comment.id}}">DELETE</button> --}}
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!-- JavaScript file -->
<script src="/js/comments.js"></script>